<launch>
  <arg name="world" default="$(find seguidor)/worlds/mundo.world"/>
  <arg name="pause" default="false"/>
  
<include file="$(find gazebo_ros)/launch/empty_world.launch">

    <arg name="world_name" value="$(arg world)"/> 

    <arg name="paused" value="$(arg pause)"/>

    <arg name="use_sim_time" value="true"/>

    <arg name="gui" value="true"/>

    <arg name="recording" value="false"/>

    <arg name="debug" value="false"/>

  </include>

</launch>
